extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          h1.heading-secondary--error.ma-bt-md 404 Error - This page does not exist
