.footer
  .footer__logo
    img(src='/img/fivetree_logo.svg' alt='Fivetree logo')
  .footer__text
    ul.footer__nav
      li: a(href='/about') About us
      li: a(href='/guides') Become a guide
      li: a(href='/careers') Careers
      li: a(href='/contact') Contact
    p.footer__copyright  &copy; by Diego Estevez. All rights reserved.
