header.header
  nav.nav.nav--tours
    a.nav__el(href='/#main') All Tours
  .header__logo
    a(href='/')
     img(src='/img/fivetree-white-black.png' alt='Fivetree logo')
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Logout
      a.nav__el(href='/me')
       img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
       span.nav__username= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Login
      a.nav__el.nav__el--cta(href='/signup') SignUp
